@media (min-width: 1200px) {
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        font-size: calc(1em + 1vw);
    }
    body {
        margin: 0rem;
    }
    #mastergrid {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8.2% 89.8% 3%;
        grid-template-areas: "header" "main" "footer";
    }
    #main {
        grid-area: main;
        width: 90%;
        background-color: rgb(220, 220, 220, 0.0);
        margin: 0.8rem auto;
        margin-bottom: 0.2rem;
    }
    #header {
        margin: 0.0rem;
        grid-area: header;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
    }
    nav {
        margin-top: 0.2rem;
        padding: 0.0rem;
    }
    ul {
        list-style: none;
        margin: auto auto;
        display: flex;
        justify-content: start;
        padding: 0.0rem;
        margin-left: 0.0rem;
        background-color: rgba(0, 0, 0, 0.0);
    }
    #li-header {
        display: flex;
        margin-left: 0.6rem;
    }
    li {
        font-size: 0.48rem;
        margin-left: 0.6rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    ul li a {
        font-family: arial;
        text-decoration: none;
        color: white;
        font-weight: 500;
        letter-spacing: 0.0rem;
    }
    ul li a:hover {
        color: gray;
    }
    #logo {
        width: auto;
        height: 1.1rem;
        margin-left: 2rem;
        margin-top: 0.06rem;
    }
    #btn-section {
        margin-left: 17rem;
    }
    #btn-loan {
        background-color: rgb(47, 75, 110);
        color: white;
        font-size: 0.42rem;
        font-weight: 500;
        padding: 0.14rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    #btn-salary {
        background-color: darkorange;
        color: white;
        font-size: 0.42rem;
        font-weight: 500;
        margin-left: 0.0rem !important;
        padding: 0.14rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    #btn-loan:hover, #btn-salary:hover, #btn-buy:hover {
        background-color: gray;
        cursor: pointer;
    }
    #balance-section {
        color: white;
        margin-top: 0rem !important;
        margin-left: 1.4rem;
    }
    #balance-section p {
        font-family: Arial;
        text-decoration: none;
        font-weight: 400;
        font-size: 0.48rem;
        letter-spacing: 0.0rem;
        margin: 0.1rem !important;
    }
    #amount {
        text-align: right;
    }
    h1 {
        font-family: Arial;
        font-weight: 700;
        letter-spacing: 0.0rem;
        font-size: 0.8rem;
        margin-bottom: 0rem;
        margin-top: 0.0rem;
        width: 100%;
    }
    h2 {
        font-family: Arial;
        font-weight: 600;
        letter-spacing: 0.0rem;
        font-size: 0.6rem;
        margin-bottom: 0.6rem;
    }
    h3 {
        font-family: Arial;
        font-weight: 600;
        letter-spacing: 0.0rem;
        font-size: 0.5rem;
        margin-bottom: 0.0rem;
    }
    p {
        font-size: 0.6rem;
    }
    article {
        width: 90%;
        margin-left: 0.3rem;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    #about {
        width: 90%;
        margin-left: 0.3rem;
        flex-wrap: wrap !important;
        margin-left: auto;
        margin-right: auto;
    }
    #about-text {
        width: 68%;
        flex-wrap: wrap !important;
    }
    #image {
        width: 12rem;
        height: auto;
        margin-top: 0.6rem;
    }
    address {
        margin-top: 0.6rem;
        width: 100%;
    }
    address p {
        font-size: 0.5rem;
        margin-top: 0.2rem !important;
        margin-bottom: 0.2rem !important;
    }
    select {
        width: 100%;
    }
    #products-select-section {
        width: 30%;
    }
    #product-info {
        display: flex;
        width: 90%;
    }
    #products-section {
        margin-top: 0.8rem;
        margin-left: 2rem;
        width: 100%;
    }
    #products-section p {
        font-size: 0.5rem;
        margin-bottom: 0.4rem;
    }
    #product-image {
        width: auto;
        height: 8rem;
        margin: 0rem;
    }
    #description {
        margin-top: 4rem;
        margin-left: 0.8rem;
    }
    #price {
        font-family: "Circular", Helvetica, Arial !important;
        font-weight: 500;
        font-size: 0.9rem !important;
        margin-top: 0.6rem !important;
        margin-bottom: 0.1rem !important;
    }
    #btn-buy {
        background-color: green;
        color: white;
        padding: 0.14rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    #product-buy-section {
        visibility: visible;
    }
    #footer {
        grid-area: footer;
        width: 100%;
        font-family: Arial;
        padding: 0.0rem;
        font-size: 0.3rem;
        text-align: center
    }
}